@mixin estilos_general {color: #525099;
    font-family: 'Tajawal', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { background-color: #FEF8F6;}

#descript_info {width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p {@include estilos_general;
font-size: 1.2em;
text-align: justify;
margin-top: 10%;
}

h1,
h2 {@include estilos_general;
font-size: 1.5em;
font-weight: 900;
text-align: center;
margin-top: 10%;

}
li {@include estilos_general;
text-decoration: none;
text-align: justify;
font-size: 1.2em;
list-style: none;}

.logo {width: 200px;}
.carousel_slider {width: 100%;
img {width: 100%;}}

.copy {@include estilos_general;
font-size: 0.8em;
margin-top: 10%;
text-align: center;}

.boton_turnos {color: #A8518A;
font-size: 1.5em;
border: 2px solid #A8518A;
font-family: 'Tajawal', sans-serif;
padding: 10px 25px;
border-radius: 40px;
background-color: transparent;

}