@mixin estilos_general {color: #525099;
    font-family: 'Tajawal', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { background-color: #FEF8F6;}

#descript_info {width: 80%;
}

p {@include estilos_general;
font-size: 1.2em;
text-align: justify;
margin-top: 5%;
}

h1,
h2 {@include estilos_general;
font-size: 1.5em;
font-weight: 900;
text-align: center;
margin-top: 5%;

}
li {@include estilos_general;
text-decoration: none;
text-align: justify;
font-size: 1.2em;
list-style: none;}

.logo {width: 200px;}
.carousel_slider {width: 100%;
img {width: 100%;}}

.copy {@include estilos_general;
font-size: 0.5em;
margin-top: 10%;}